{% extends "base.jinja" %}
{% block user_nav %} 
    <a href='/farmer/monday'>Monday</a>
    <a href='/farmer/wednesday'>Wednesday</a>
    <a href='/farmer/friday'>Friday</a>
{% endblock %}
{% block content %}
<h1>23</h1>
{{ total_vegboxes_for_today }}
{% for customer in todays_harvest %}
<span>{{  customer.first_name }}</span>
{% endfor %}

{% endblock %}