{% extends "base.jinja" %}
{% block user_nav %} 
    <a href='/farmer/monday'>Monday</a>
    <a href='/farmer/wednesday'>Wednesday</a>
    <a href='/farmer/friday'>Friday</a>
{% endblock %}
{% block content %}
<h1>Vegboxes to harvest today</h1>
<span>{{ total_vegboxes_for_today }}<span>

{% for customer in todays_harvest %}
<span>{{  customer.first_name }}</span>
{% endfor %}

{% endblock %}