{% extends "base.jinja" %}

{% block content %}

{# admin specific nav #}
{% include '/admin/nav_admin.jinja' %}

{# customer list #}
{% include '/admin/list_customers.jinja' %}

{# add customer #}
{% include '/admin/add_customer.jinja' %}


{% endblock %}